<!DOCTYPE html>
<html>
<head>
  <title>Billtastic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ipp:connectToIntuit is the Intuit Connect button -->
  <% unless session[:token] %>
    <ipp:connectToIntuit></ipp:connectToIntuit>
  <% else %>
    <div>
      <a href="">Disconnect from QuickBooks</a>
    </div>
  <% end %>

  <% if notice %>
    <div style="padding: 10px;background: gainsboro;font-weight: 900;width: 50%;"><%= notice %></div>
  <% end %>

  <%= yield %>

  <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
  <!-- configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below -->
  <script>
      intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_quickbooks_url %>'});
  </script>


</body>
</html>
